<form action = '/writer/add' method="POST" enctype="multipart/form-data">
    <input type="file" name="avatar">
    <label for="category">Category</label>
    <select class="form-control" id="category" name = "category">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
    <textarea name="content" id="editor"></textarea>
    <button type ="submit">Submit</button>
</form>