.headline{
    width: 100%;
    border-bottom: 5px black solid;
    margin-bottom: 5px;
    margin-top: 5px;
}

.container{
    width: 50%;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    border: 5px black solid;
}

#editor
{
    height: 500px;
}

.button{
    margin-top: 5px;
}
