<h3>{{this.user.name}}</h3>
<p>Email: {{this.user.email}}</p>

<a href = '/writer/write' class="btn btn-primary">Write New Article</a></button>
<form action = '/writer/logout' method="POST">
    <button type="submit" class="btn btn-dark shadow">Log Out</button>
</form>