<form action='/writer/addwriter' method="POST" class = "form">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name = "name" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="penname">Pen name</label>
    <input type="text" class="form-control" id="penname" name = "penname" placeholder="Pen Name">
  </div>
  <div class="form-group">
    <label for="Email">Email</label>
    <input type="email" class="form-control" id="Email" name = "email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="Password">Password</label>
    <input type="password" class="form-control" id="Password" name = "password" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="bdate">Birthday</label>
    <input type="date" class="form-control" id="bdate" name = "birthday">
  </div>
  <a href = "/writer/signin" class = "btn btn-dark shadow">Back</a>
  <button type="submit" class="btn btn-dark shadow">Sign Up</button>
</form>