<form action = '/writer/add' method="POST" enctype="multipart/form-data">
    <h4 class = "headline">Cover Picture:</h4>
    <br>
    <input type="file" name="avatar" class="btn btn-dark shadow">
    <br>
    <label for="subcategory"><h4 class = "headline">Category:</h4></label>
    <select class="form-control" id="subcategory" name = "subcategory">
    {{#each this.subcategory}}
        <option>{{name}}</option>
    {{/each}}
    </select>
    <h4 class = "headline">Content</h4>
    <textarea name="content" id = "editor"></textarea>
    <a href = "#" class="btn btn-dark shadow">Back <i class="fas fa-backward"></i></a>
    <button type ="submit" class="btn btn-dark shadow" class = "button">Submit <i class="fas fa-check"></i></button>
</form>