<h3>{{this.user.name}}</h3>
<p>Email: {{this.user.email}}</p>
<p>Pen Name: {{this.user.penname}}</p>

<form action = '/writer/logout' method="POST">
    <button type="submit" class="btn btn-dark shadow">Log Out</button>
</form>