<div class="card" style="width: 18rem;">
  <div class="card-header">
    News
  </div>
  <ul class="list-group list-group-flush">
    {{#each news}}
      <li class="list-group-item">{{title}}</li>
    {{/each}}
  </ul>
</div>