{{#section 'js'}}
  <script src = "https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.js"></script>
  <script>
    $().ready(function(){
      $("#signinform").validate({
        rules:{
          name: {
            required: true,
          },
          password: {
            required: true,
          },
        },
        messages: {
          name: {
            required: 'Required',
          },
          password: {
            required: 'Required',
          },
        },
        highlight: function (element, errorClass) {
          $(element).closest('.form-group').addClass('has-error');
        },
        unhighlight: function (element, errorClass) {
          $(element).closest('.form-group').removeClass('has-error');
        },
      });
    });
  </script>
{{/section}}
<form class = "form" action = '/editor/login' method="POST" id = "signinform">
  {{#if error}}
    <div class="alert alert-danger" role="alert">
      Name or Password is wrong
    </div>
  {{/if}}
  <div class="form-group">
    <label for="Name">Name</label>
    <input type="text" class="form-control" id="name" name = "name" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name = "password" placeholder="Password">
  </div>
  <p>Don't have an account? <a href = "/editor/signup">Sign Up</a></p>
  <button type="submit" class="btn btn-primary">Sign In</button>
</form>